################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.DS_Store
/.vs
/resources/simulator/ContainersSimulator/.vs/ContainersSimulator
**/_output